*{
    font-family: "k2d";
}
    /* open style css hearder */
    .header{
     display: flex;
     background-color:lightgrey;
/* background-image: url(img/background-img/img3.png); */
    }
.menu{
    margin-left:auto;
    margin-right: 10px;

}
.logo{
    margin:  10px 30px 10px 30px;
}
#logo{
    font-size: 36px;
    font-weight: 900px;
}
.menu, a{
    text-decoration: none;
   font-weight: bold;
    font-size: 20px;
    
}
.active{
    color:#2d6a4f;
}
.menu a:hover{
    background-color: #2d614f;
    color: #fff;
    padding: 5px;
}
a{
    color: #000;
}
/*  close     css heaher*
*/


/* open style css content */
.content{
    display: flex;
    flex-direction: column;
    background-color:lightgrey;
}
    
.content img{
    width: 50%;
    margin: auto;

}
.content h2{
    margin-left: 32%;
}
.content button{
     width: 180px;
     background-color:#2d6a4f;
     padding: 20px 30px;
     color: #fff;
     border-radius: 5px;
     margin-left: 50%;
     font-size: 25px; 

}

.button{
    width: 150px;
    background-color:#2d6a4f;
    color: #fff;
    border-radius: 5px;
    margin-left: 0%;
    font-size: 18px;
    justify-items: left;
    height: 60px;
     

}

/*  close  css content  */
.footer{
    
    
   background-color: lightgrey;
   /* background-image: url("./img/img3.PNG"); */
    padding: 30px;
    /* margin-left: 42%; */
    width: 96%;
}
.subfooter{
    margin-left: 45%;

}
#eng {
    color:#2d6a4f;
}

/*  style css content about */




.content-about{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.desc-container,.cards{
    width: 60%;
}
.cards{
  height:350px;
}
.rows{
    display: flex;
    margin-bottom: 0rem;
}
.desc-container{
    width: 60%;
    margin-bottom: 5rem;
    
}
.icons{
color: green;

}
.item>p{
    color: rgb(104, 101, 101);
}
/*  style css contact us */

.content-contact {
    display: flex;
    flex-direction: column;
    background-color:lightgrey;
    align-items: center;
}

.formcontact{
    display: flex;
    flex-direction: column;
   background-color: #fff;
   width: 30%;
   height: 500px;
   align-items: center;
   /* margin-left: 30%; */
   border-radius: 5px;
   
   
}
input{
  
   margin-bottom: 15px;
   font-size: 25px; 
   border-radius: 5px;
   padding: 8px;
}
textarea{
    padding:8px;
    font-size: 26px;
    border-radius: 5px;
    border: 3px solid gray;
}


